{% extends "base.html" %}
{% block content %}

	<h1>Application</h1>
	<p id="instructions">
		Please fill out the form below and submit your information.
	</p>
	<form action="/application-response" method="POST">
		<label>First Name:
			<input type="text" name="firstname"/>
		</label>
		<label>Last Name:
			<input id="last-name" type="text" name="lastname"/>
		</label>
		<br>
		<label>Salary:
			<input type="number" name="salary"/>
		</label>
		<br>
		<label>Job:
			<select name="job">
				<option value="Software Engineer">Software Engineer</option>
				<option value="QA Engineer">QA Engineer</option>
				<option value="Product Manager">Product Manager</option>
			</select>
			
		</label>
	<br>
	<input type="submit" value="Apply"/>	
</form>
{% endblock %}